@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

:root {
  --fontPrincipal: "Revalia", cursive, sans-serif;
  --header-backgroundImgCard: #3c73b3;
  --backgroundFooter: #c4c4c4;
  --backgroundPrincipal: #383a39;
  --backgroundForm: #d15b56;
  --backgroundCard-navHover: #565757;
  --fontNav: #d15b56;
  --fontCard: #9ecde9;
  --bordaRadius: 0.75rem;
}

body {
  background-color: var(--backgroundPrincipal);
  font-family: var(--fontPrincipal);
}

h1 {
  font-size: 2.3rem;

  color: var(--header-backgroundImgCard);
}

header {
  background-image: url(../img/header.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    background-color: #d88d8a;
    padding: 0.2rem 0.5rem;
    border-radius: var(--bordaRadius);
  }
}

nav {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;

  ul {
    width: 58rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--fontNav);

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem 0.5rem 0.4rem 0.3rem;
      border-radius: 0.5rem;
      transition: 0.3s;

      &:first-child {
        background-color: var(--backgroundCard-navHover);
      }

      &:nth-child(3):hover {
        background: none;
        cursor: default;
      }

      &:hover {
        background-color: var(--backgroundCard-navHover);
      }

      a {
        color: var(--fontNav);
      }
    }
  }
}

main {
  width: 100%;
  height: 50rem;
  display: flex;

  section {
    width: 60vw;
    height: 50rem;
    display: grid;
    justify-items: center;
    align-content: space-between;

    .containerCard {
      width: 50vw;
      display: flex;
      justify-content: space-between;

      .card {
        background: var(--backgroundCard-navHover);
        width: 15rem;
        height: 20rem;
        border-radius: var(--bordaRadius);

        display: grid;
        align-content: space-evenly;
        justify-items: center;

        text-align: center;
        color: var(--fontCard);

        img {
          background-color: var(--header-backgroundImgCard);
          padding: 0.9rem;

          border-radius: 10rem;
        }

        hr {
          width: 80%;
          border-color: var(--fontCard);
        }

        p {
          width: 80%;
        }
      }
    }
  }

  .containerImgBarbeiro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 47vw;
    height: 13rem;

    img {
      max-width: 18rem;
    }
  }

  .carousel {
    width: 40vw;
  }
}

// IMAGENS RESPONSIVAS
@media (max-width: 1578px) {
  .containerImgBarbeiro {
    img {
      width: 15rem;
    }
  }
}

@media (max-width: 1323px) {
  .containerImgBarbeiro {
    img {
      width: 13rem;
    }
  }
}

aside {
  background: var(--backgroundForm);
  color: var(--backgroundPrincipal);
  width: 40vw;
  height: 50rem;
  display: grid;
  justify-items: center;
  align-content: space-around;

  .containerAside {
    width: 35vw;
    display: grid;
    height: 40rem;
    align-content: space-around;
    justify-items: center;

    .headerForm {
      display: grid;
      align-content: space-between;
      height: 7rem;
      text-align: center;

      h2 {
        font-size: 3rem;
      }

      span {
        background-color: var(--backgroundPrincipal);
        color: var(--fontNav);
        padding: 0 0.6rem 0.3rem;
        border-radius: var(--bordaRadius);
      }
    }

    form {
      display: grid;
      align-content: space-around;
      justify-items: center;

      height: 30rem;

      input {
        font-family: var(--fontPrincipal);
        background-color: #e29c99;
        border: none;
        height: 3rem;
        text-align: center;
        font-size: 1rem;
        width: 25vw;

        &::placeholder {
          opacity: 1;
          color: var(--backgroundPrincipal);
        }
      }

      textarea {
        resize: none;
        font-family: var(--fontPrincipal);
        background-color: #e29c99;
        height: 7rem;
        text-align: center;
        font-size: 1rem;
        border: none;
        width: 25vw;

        &::placeholder {
          opacity: 1;
          color: var(--backgroundPrincipal);
        }
      }

      button {
        width: 15vw;
        height: 3rem;
        font-family: var(--fontPrincipal);
        font-size: 1.5rem;
        background-color: #b6d2e7;
        border: none;
        border-radius: var(--bordaRadius);
        cursor: pointer;
        color: var(--backgroundCard-navHover);

        &:hover {
          background-color: var(--fontCard);
          color: var(--backgroundPrincipal);
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: var(--backgroundFooter);
  height: 10rem;
  display: flex;
  justify-content: center;

  ul {
    width: 90rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding-right: 0.5rem;
      }

      .bolinha {
        background-color: var(--backgroundForm);
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
      }
    }
  }
}
