@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(--pretoClaro);
  text-decoration: none;
}

:root {
  --fontPrincipal: "Revalia", cursive, sans-serif;
  --bordaRadius: 0.75rem;
  --azulEscuro: #3c73b3;
  --azulClaro: #9ecde9;
  --branco: #c4c4c4;
  --pretoEscuro: #383a39;
  --pretoClaro: #565757;
  --vermelhoEscuro: #d15b56;
  --vermelhoClaro: #d88d8a;
}

body {
  background-color: var(--pretoEscuro);
  font-family: var(--fontPrincipal);
  line-height: 1.6rem;
  color: var(--pretoEscuro);
}

h1 {
  font-size: 1.3rem;
  color: var(--azulEscuro);
  background-color: var(--vermelhoClaro);
  padding: 0.2rem 0.5rem;
  border-radius: var(--bordaRadius);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.destaque {
  color: var(--vermelhoEscuro);
}

.voltarTopo {
  position: fixed;
  right: 45%;
  bottom: 2rem;
  padding: .75rem;
  border-radius: var(--bordaRadius);
  background-color: var(--vermelhoEscuro);
}

header {
  background-image: url(../img/header.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburguer {
  background-color: var(--azulEscuro);
  color: var(--pretoEscuro);
  -ms-grid-column-align: left;
      justify-self: left;
  position: absolute;
  left: 0.2rem;
  padding: 0.57rem 0.7rem;
  border-radius: var(--bordaRadius);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  cursor: pointer;
}

#navHeader {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 70vh;
  background-color: var(--branco);
  color: var(--pretoClaro);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navHeader .fecharMenu {
  padding: 1rem 1rem;
  cursor: pointer;
  width: 1rem;
  background-color: var(--vermelhoEscuro);
}

#navHeader ul {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navHeader ul li {
  width: 100%;
}

#navHeader ul li:hover {
  background-color: var(--vermelhoEscuro);
}

#navHeader ul li a {
  padding: 1rem 6.8rem;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navHeader ul li a:hover {
  color: var(--pretoEscuro);
  background-color: var(--vermelhoEscuro);
}

.menuHide {
  margin-left: -55rem;
}

main {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main hr {
  width: 15rem;
  border-color: var(--pretoEscuro);
}

main .banner {
  width: 100vw;
}

main .cards {
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cards .card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 0.8rem;
  text-align: center;
  color: var(--azulClaro);
  width: 15rem;
  height: 15rem;
  padding: 2rem 0;
  border-radius: var(--bordaRadius);
}

main .cards .card img {
  background-color: var(--azulEscuro);
  background-position: center;
  padding: 0.5rem;
  border-radius: 2rem;
}

main .cards .card hr {
  width: 12rem;
  margin: 2rem 0;
  border-color: var(--pretoClaro);
}

main .background {
  background-color: var(--pretoClaro);
}

main .background .quemSomos {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 2rem 0;
}

main .background .quemSomos h2,
main .background .quemSomos img,
main .background .quemSomos .barbeariaHistoria,
main .background .quemSomos .barbeariaContato {
  padding: 1rem 0;
}

main .background .quemSomos .barbeariaHistoria {
  width: 90vw;
}

main .background .barbeiros {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 2rem 0;
}

main .background .barbeiros h2,
main .background .barbeiros .barbeiro {
  padding: 2rem 0;
}

main .background .barbeiros .barbeiro h3 {
  padding: 1rem 0;
  color: var(--azulClaro);
  font-style: oblique;
  text-decoration: overline;
}

main .background .barbeiros .barbeiro .barbeiroContato {
  padding-top: 1rem;
}

main .contato {
  background-color: var(--vermelhoEscuro);
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

main .contato h2 {
  padding-bottom: 2rem;
}

main .contato form {
  display: -ms-grid;
  display: grid;
  width: 15rem;
}

main .contato form input,
main .contato form textarea {
  font-family: var(--fontPrincipal);
  text-align: center;
  height: 2rem;
  border: none;
  border-radius: var(--bordaRadius);
  margin: 0.5rem;
}

main .contato form textarea {
  height: 7rem;
  resize: none;
}

main .contato form button {
  height: 3rem;
  border: none;
  border-radius: var(--bordaRadius);
  margin-top: 2rem;
  background-color: var(--azulClaro);
  color: var(--pretoClaro);
  font-family: var(--fontPrincipal);
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .contato form button:hover {
  background-color: var(--azulEscuro);
  color: var(--pretoEscuro);
}

footer {
  background-color: var(--azulEscuro);
  padding: 2rem 0;
}

footer ul {
  width: 90vw;
}

footer ul,
footer li {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

footer ul .bolinha,
footer li .bolinha {
  width: 10px;
  height: 10px;
  margin: 2rem 0;
  border-radius: var(--bordaRadius);
  background-color: var(--vermelhoEscuro);
}
/*# sourceMappingURL=style.css.map */